@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/bg_cow_comp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}

body::-webkit-scrollbar {
  width: 10px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #474747;
  border-radius: 6px;
  border: 4px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@media screen and (max-width: 600px) {
  .center-div {
    margin-top: 50px;
  }
}
