@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/bg_cow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100svh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}

@media screen and (max-width: 600px) {
  .center-div {
    margin-top: 50px;
  }
}